* { box-sizing: border-box; }

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #f5f5f5;
    font-family: 'Roboto'. 'Roboto-Regular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

button:focus,
input:focus,
textarea:focus {
    border-style: none;
    outline: none;
}


/*
    Colors:
    red   - #ff5722;
    green - #4caf50;

    font-family: 'Quantico';
*/


/*Header*/

.mdl-layout-title {
    color: #ff5722;
    font-size: 3em;
    font-family: 'Quantico';
}

.todoro-header .mdl-layout__header-row {
  padding-left: 40px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.mdl-layout__header-row {
    display: flex;
    justify-content: space-between;
}

#menu-lower-right {
    background: #ff5722;
    color: #fff;
}

.menu_a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/*Content*/

.todoro-layout {
    background: url('../images/bg.jpg') 0 0 repeat-x;
    background-size: 100% 50%;
    background-attachment: fixed;
}

.todoro-main {
  flex-shrink: 0;
}

.todoro-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.todoro-content {
  position: relative;
  border-radius: 2px;
  padding: 80px 56px;
  margin: 20px auto;
}
#timer { height: calc(100vh - 90px - 5vh); }
#todolist { min-height: 90vh; }

.todoro-layout.is-small-screen .todoro-content {
  padding: 40px 28px;
}

.todoro-content h3 {
  margin-top: 18px;
  font-size: 2.5em;
  font-weight: normal;
  color: #4caf50;
}


/*Other*/
.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored { /*белый цвет текста у зеленой кнопки*/
    color: #fff;
}



/*POPUP*/

#popup {
    display: none;
    position: absolute;
    top: 40vh;
    width: 100%;
    min-height: 20vh;
    padding: 18px;
    box-shadow: 0 0 0 40vh rgba(0,0,0,0.5);
    background-color: #323232; /*#4caf50*/
    color: #fff;
    z-index: 100;
}

#popup.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#message {
    display: block;
    flex-basis: 80%;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    padding: 16px;
}

#message > i { vertical-align: text-bottom; }

/*TIMER*/

.time {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 4em;
    font-family: 'Quantico';
    background: #ff5722;
    margin: auto;
    padding: 28px;
    color: #fff;
    max-width: 250px;
    height: 50%;
}

#minute, #second {
    font-size: 1.1em;
}

.mdl-card__actions {
    position: absolute;
    bottom: 0;
    left: 0;
}

#play-timer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}


/* MEDIA */

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
