/* THEMEs 

    Red:   dark #f35a4a   | light #bead92   | font #fff
    Green: dark #1e4b0c   | light #809f57   | font #fff
    Blue:  dark #02395c   | light #94bfcf   | font #fff

*/

/* RED */
body.red {
    background-color: #bead92;
    color: #fff;
}
body.red h1 {
    background-color: #f35a4a;
}
body.red .win-flyout {
    color: #f35a4a;
}

/* GREEN */
body.green {
    background-color: #809f57;
    color: #fff;
}
body.green h1 {
    background-color: #1e4b0c;
}
body.green .win-flyout {
    color: #1e4b0c;
}

/* BLUE */
body.blue {
    background-color: #94bfcf;
    color: #fff;
}
body.blue h1 {
    background-color: #02395c;
}
body.blue .win-flyout {
    color: #02395c;
}

/* END Themes */

body {
    font-family: sans-serif;
}

.win-container {
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.win-h1 {
    padding: 20px 25px;
    font-weight: bold;
    line-height: 46px;
}

.time {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.time > div {
    margin: 0 30px;
}

#minute,
#second {
    font-size: 3em;
}